header {
    width: 100%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    background-color: rgba(42, 41, 101);
    border: 3px solid rgba(42, 41, 101);
    color: rgb(173, 172, 221);
}

footer {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: justify;
    background-color: rgba(42, 41, 101);
    border: 3px solid rgba(42, 41, 101);
    color: rgb(173, 172, 221);
}

.one {
    height: 75px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    background-color: rgb(101, 42, 41);
    border: 3px solid rgb(101, 42, 41);
    color: rgb(221, 173, 172);
}

.two {
    height: 75px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    background-color: rgb(101, 42, 41);
    border: 3px solid rgb(101, 42, 41);
    color: rgb(221, 173, 172);
}

.break1 {
    border: 1px solid rgb(221, 173, 172);
    margin: 0px 0;
}

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(207, 210, 199);
    color: rgb(51, 51, 51);
}

.title {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    background-color: rgb(41, 101, 42);
    border: 3px solid rgb(41, 101, 42);
    color: rgb(172, 221, 173);
}

.subtitle {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    background-color: rgb(100, 101, 41);
    border: 3px solid rgb(100, 101, 41);
    color: rgba(220, 221, 172);
}

.subsubtitle {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(100, 101, 41);
}

:any-link {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(221, 173, 172);
    text-decoration-color: rgb(221, 173, 172);
}


a {
    padding: 10px 5px;
    width: 10px;
    border-radius: 5px;
    margin: 20% auto;
    background-color: rgb(221, 173, 172)e;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 25px;
    color: rgba(42, 41, 101);
}

a:hover {
    background-color: rgba(42, 41, 101);
}

.roll {
    display: flex;
    align-items: center;
    justify-content: center
}

.carte {
    display: flex;
    align-items: center;
    justify-content: center
}

.email {
    display: flex;
    align-items: center;
    justify-content: center
}

.flyer {
    display: flex;
    align-items: center;
    justify-content: center
}

.banniere {
    display: flex;
    align-items: center;
    justify-content: center
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center
}